<h1>Signup!</h1>


<div class="card">
  <div class="card-body">
    <%= form_for :user, url: '/users'  do |f| %>
    Name:
    <div class="mb-3">
      <%= f.text_field :name, class: "form-label" %>
    </div>
    Email:
    <div class="mb-3">
      <%= f.text_field :email %>
    </div>
    Password: 
    <div class="mb-3">
      <%= f.password_field :password %>
    </div>
    Password Confirmation: 
    <div class="mb-3">
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="mb-3">
      <%= f.submit "Submit" %>
    </div>
    <% end %>
  </div>
 </div>
